body {
  background: linear-gradient(0.25turn, #c0d8e0, #ebf8e1, #c0d8e0);
  margin: auto;
  font-family: "Raleway", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 3rem;
}

a {
  text-decoration: none;
  color: #191970;
}

a:hover {
  color: #c0c0c0;
}

ul {
  list-style: none;
}

.name {
  margin-top: 10rem;
  font-size: 7rem;
}

.job-title {
  margin-bottom: 50rem;
  margin-top: 4rem;
  font-size: 2rem;
}

.line {
  margin-top: 15rem;
  margin-bottom: 10rem;
}

.title {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

p {
  text-align: center;
  margin: 30px 30px;
}

.app-name {
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 3.5rem;
  font-size: 2rem;
}

.projects {
  text-align: center;
  margin-top: 2rem;
}

.card-text {
  text-align: center;
  padding: 0;
  margin: 0;
}

#project-description {
  margin-top: 2rem;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon > a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
}
.icon > a:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
  background-color: #f0fff0;
}

.social {
  list-style: none;
  margin-top: 10rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-text {
  color: #a9a9a9;
}

.contact {
  text-align: center;
}

.email {
  text-decoration: underline;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.bottom {
  font-style: italic;
  opacity: 0.3;
}
