

body {
  background: linear-gradient(0.25turn, #C0D8E0, #ebf8e1, #C0D8E0);
  margin: auto;
  font-family: "Raleway", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: #191970;
}

a:hover {
  color: #c0c0c0;
}

ul {
  list-style: none;
}

.name {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.title {
  margin-bottom: 2rem;
  margin-top: 2rem;
  border-top: 2px solid grey;
}

p {
  text-align: center;
  margin: 30px 30px;
}

.logo {
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 900;
  padding: 20px 30px;
  font-family: "";
  color: black;
}

.projects {
  margin-top: 2rem;
}

.card-text {
  text-align: center;
  padding: 0;
  margin: 0;
}

.footer {
  font-style: italic;
  margin: 30px 30px;
}

/* @media only screen and (max-width: 600px) {
  # {
    width: 100%;
  }
} */
