@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@100&family=Moon+Dance&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body {
  background: linear-gradient(0.25turn, #c0d8e0, #ebf8e1, #c0d8e0);
  margin: auto;
  font-family: 'Lora', serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 2.5rem;
}

.profile-pic {
  width: 400px;
  max-height: 700px;
  border-radius: 50%;
  margin-bottom: 5rem;
}

@media (max-width: 900px) {
  .profile-pic {
    width: 100%;
  }
}

a {
  text-decoration: none;
  opacity: 0.8;
}

a:hover {
  color: grey;
  text-decoration: none;
}

ul {
  list-style: none;
}

.name {
  margin-top: 4rem;
  font-size: 5rem;
}

/* .name-mobile {
  display: none;
}
@media (max-width: 640px) {
  .name-mobile {
    display: block;
    font-size: 3rem;
    margin-top: 2rem
  }
  .name {
    display: none;
  } */

.job-title {
  margin-bottom: 4rem;
  margin-top: 4rem;
  font-size: 1.89rem;
}

.job-title-mobile {
  display: none;
}

.line {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

p {
  text-align: center;
  margin: 30px 30px;
}

.app-name {
  text-align: center;
  margin-top: 7rem;
  margin-bottom: 2rem;
  font-size: 1.678rem;
  color: #7f7f7f;
}

.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  border: 1px grey solid;
  padding: 0.5rem;
}

.nav-link {
  font-size: 1.5rem;
  margin-left: 6rem;
}

.projects {
  text-align: center;
}

iframe {
  width: 70rem;
  height: 100vh;
  border: none;
}

.card-text {
  text-align: center;
  padding: 0;
  margin: 0;
}

.jumbotron {
  opacity: 0.5;
}

.lead {
  color: black;
  opacity: 1;
}

.display-4 {
  color: #333533;
  padding: 1rem;
}

#project-description {
  margin-top: 2rem;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon > a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
}
.icon > a:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
}

.social {
  list-style: none;
  margin-top: 10rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-text {
  color: #a9a9a9;
}

.btn {
  background-color: black;
}

.contact {
  text-align: center;
}

.email > h5 {
  margin-top: 7rem;
  margin-bottom: 7rem;
  border: 1px solid black;
  padding: 1.2rem;
}

.bottom {
  font-style: italic;
  opacity: 0.3;
}

/* media queries */

@media (max-width: 640px) {
  .job-title-mobile {
    display: block;
    font-size: 1.67rem;
    margin: 1rem;
    padding: 1rem;
  }
  .job-title {
    display: none;
  }
}

@media (max-width: 900px) {
  iframe {
    width: 100%;
    height: 25rem;
  }
}
